#contact-main-container{
    margin: 320px auto;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid rgba(255, 255, 255, 0.137);
}

.form-title{
    color: white;
    text-align: left !important;
}

.form-input{
    width: 20vw;
    height: 5vh;
    border-radius: 8px;
}

#message{
    width: 20vw;
    height: 15vh;
}