#home-upper-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: -100px; */
}

#main-logo{
    /* width: 375px; */
    margin: 0 auto;
}

#main-headshot{
    width: 95vw;
    /* height: 800px; */
    margin: 0 auto;
    align-content: center;
}

#gig-header{
    font-size: 30px;
    color: red;
}

#gig-labels{
    display: flex;
    justify-content: space-evenly;
}

.labels{
    color: black;
    font-size: 27px;
    text-decoration: underline;
}

#gig-chart{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.561);
    width: 50vw;
    height: 320px;
    margin: 700px 0 0 0;
}

.gig-content{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(128, 128, 128, 0.267);
    width: 87%;
    margin: 0 auto;
    padding: 5px 0;
}

.gig-date{
    font-family: 'Ubuntu';
    font-size: 25px;
    color: black;
}
.gig-details{
    font-family: 'Ubuntu';
    font-size: 25px;
    color: black;
}

#latest-music-container{
    width: 38vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto !important;
}

.latest-music-cover{
    width: 320px;
    height: 180px;
    margin: 20px;
}

.button{
    border: transparent;
    border-radius: 8px;
    background-color: rgb(29, 29, 29);
    font-size: 20px;
    padding: 5px;
    color: red;
    font-family: 'Orbitron';
    margin-bottom: 10px;
}