*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-container{
    width: 100% !important;
    height: 8vh !important;
    background-color: black !important;
    position: fixed;
    top: 0;
    z-index: 20;
}

nav#navbar{
    display: none;
}

a{
    text-decoration: none !important;
}

@media (min-width: 767px){
    #nav-container{
        position: relative;
    }

    nav#navbar{
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        height: 5vh;
        align-items: center;
        background-color: black;
    }
    
    img#navlogo-2{
        width: 20vw;
        padding: 0 !important;
    }

    div#image-container a{
        padding: 0 !important;
    }

    ul#nav-links{
        display: flex;
        width: 95vw;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .topnav-link li{
        /* padding: 15px 0 0 0 !important; */
        transition: transform .4s;
    }

    Link.active{
        color: rgba(255, 0, 0, 0.808) !important;
    }

    .topnav-link li:hover{
        transform: scale(1.3);
        color: rgba(255, 0, 0, 0.808) !important;
    }
}

@media(min-width: 1023px){
    nav#navbar{
        height: 15vh;
    }
}

@media(min-width: 1439px){
    nav#navbar{
        height: 19vh;
    }

    img#navlogo-2{
        width: 18vw;
    }

    ul#nav-links{
        font-size: 20px;
        width: 85vw;
    }
}

@media(min-width: 1879px){
    nav#navbar{
        height: 14vh;
    }

    img#navlogo-2{
        width: 14vw;
    }

    ul#nav-links{
        font-size: 20px;
        width: 70vw;
    }
}

@media(min-width: 2559px){
    nav#navbar{
        height: 24vh;
    }
}

