body {
  margin: 0 auto;
  text-align: center;
  background-image: url("https://res.cloudinary.com/acurunner79/image/upload/v1631939180/soltrix-02_opu5k4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Orbitron','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, ul, li, p, h1, h2, h3, h4, h5{
  color: white;
}
